@import "tailwindcss";

@theme {
  --color-brand-100: #dbeafe;
  --color-brand-500: #3b82f6;
  --color-brand-600: #2563eb;
  --color-brand-700: #1d4ed8;
  --color-brand-900: #1e3a8a;
}

@layer base {
  body {
    @apply bg-slate-950 text-slate-200 antialiased min-h-screen selection:bg-brand-500 selection:text-white;
  }
}
